#souSection{
  background-image: url('../assets/img/padrao.jpg');
  background-size: 50px;
  background-attachment: fixed;
}

#Conteudo {
  margin-top: 15vh;
  margin-bottom: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background-color: #542c2b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#caixaComentario{
  padding: 10px;
  margin: 20px 0 20px 0;
  width: 80vw;
  border: #f4e8c8 solid;
  color: #f4e8c8;
  font-size: large;
}
#Conteudo p{
  color:aliceblue;
  background-color: rgba(149, 223, 172, 0.311);
}

#notaComDes{
  text-align: right;
}
#notaSemDes{
  text-align: center;
}